<div fxLayout="row" style="margin-left: 30px; font-size: 18px; margin-top: 20px;">
    <div fxLayout="column" style="margin-right: 100px;">
        <p><strong>{{ 'horse.name' | translate }}: </strong>{{ horse?.name }}</p>
        <p><strong>{{ 'horse.license' | translate }}: </strong>{{ horse?.license }}</p>
        <p><strong>{{ 'horse.colour' | translate }}: </strong>{{ horse?.colour }}</p>
        <p><strong>{{ 'horse.age' | translate }}: </strong>{{ horse?.age }}</p>
        <p><strong>{{ 'horse.breed' | translate }}: </strong>{{ horse?.breed }}</p>
    </div>
    <div fxLayout="column">
        <div class="container" *ngIf="downloadURL | async; let url">
            <img [src]="url" class="img-thumbnail" alt="Image from AngularFireStorage">
        </div>
    </div>
</div> 
