<div fxLayout="row" style="margin-left: 30px; font-size: 18px; margin-top: 20px;">
    <div fxLayout="column" style="margin-right: 100px;">
        <p><strong>Name: </strong>{{ horse?.name }}</p>
        <p><strong>License: </strong>{{ horse?.license }}</p>
        <p><strong>Colour: </strong>{{ horse?.colour }}</p>
        <p><strong>Age: </strong>{{ horse?.age }}</p>
        <p><strong>Breed: </strong>{{ horse?.breed }}</p>
    </div>
    <div fxLayout="column">
        <div class="container" *ngIf="downloadURL | async; let url">
            <img [src]="url" class="img-thumbnail" alt="Image from AngularFireStorage">
        </div>
    </div>
</div> 
