<div fxLayout="column">
    <div fxLayout="row">
    <h3 style="margin-right: 10px;"><strong>Name: </strong>{{ horse.name }}</h3>
    </div>
   <div fxLayout="row">
        <p style="margin-right: 10px;"><strong>Colour: </strong>{{ horse.colour }}</p>
        <p style="margin-right: 10px;"><strong>Age: </strong>{{ horse.age }}</p>
        <p style="margin-right: 10px;"><strong>Breed: </strong>{{ horse.breed }}</p>
   <!--<p style="margin-right: 10px;"><strong>InitDate: </strong>{{ horse.initDate | date: shortDate }}</p>
    <p><strong>EndDate: </strong>{{ horse.endDate | date: shortDate }}</p> --> 
    </div>
</div> 
