<StackLayout>
    <ActionBar title="Main Arena - Trophy: {{ trophy?.name }}"></ActionBar>

    <div *ngIf="trophy">
        <StackLayout class="item item-header" class="p-15 m-10">
            <Label class="h3">
                <FormattedString>
                    <Span [text]="'trophy.name' | translate" fontAttributes="Bold"></Span>
                    <Span text=": {{ trophy?.name }}"></Span>
                </FormattedString>
            </Label>
            <Label class="h3">
                <FormattedString>
                    <Span [text]="'trophy.category' | translate" fontAttributes="Bold"></Span>
                    <Span text=": {{ trophy?.category }}"></Span>
                </FormattedString>
            </Label>
            <Label class="h3">
                <FormattedString>
                    <Span [text]="'trophy.initDate' | translate" fontAttributes="Bold"></Span>
                    <Span text=": {{ trophy?.initDate | date:'shortDate' }}"></Span>
                </FormattedString>
            </Label>
            <Label class="h3">
                <FormattedString>
                    <Span [text]="'trophy.hour' | translate" fontAttributes="Bold"></Span>
                    <Span text=": {{ trophy?.hour }}"></Span>
                </FormattedString>
            </Label>
            <Label class="h3">
                <FormattedString>
                    <Span [text]="'trophy.arena' | translate" fontAttributes="Bold"></Span>
                    <Span text=": {{ trophy?.arena }}"></Span>
                </FormattedString>
            </Label>
            <Button [text]="'trophy.addResult' | translate" (tap)="addResult()" margin="12"
            horizontalAlignment="center" class="btn btn-primary"></Button>
        </StackLayout>
    </div>

    <div *ngIf="results">
        <Label text="Results"  class="h2 p-15 m-10"></Label>
        <ListView [items]="results" class="list-group" height="350">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <GridLayout columns="auto, *, *" (tap)="onItemSelected(item)">        
                    <Label [text]="item?.position" class="list-group-item" col="0"></Label>
                    <!-- <Label [text]="item?.initDate" col="1" class="list-group-item"></Label> -->
                    <Label [text]="item?.horse" col="1" class="list-group-item"></Label>
                    <Label [text]="item?.rider" col="2" class="list-group-item"></Label>
                    <!-- <Button [text]="'competitions.action' | translate" (tap)="delete(index, item)"></Button> -->
                </GridLayout>
            </ng-template>
        </ListView>
    </div>
</StackLayout>
