
<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="30, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Main Arena" class="t-24" style="color: blue;"></Label>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout class="sideStackLayout">
                <Label [text]="'app.home' | translate" class="sideLabel" (tap)="returnHome()"></Label>
                <div *ngIf="isLoggedIn()">
                    <Label [text]="'app.profile' | translate" class="sideLabel" (tap)="profile()"></Label>
                </div>
                <div>
                    <Label [text]="'app.logIn' | translate" class="sideLabel" (tap)="login()"></Label>
                </div>
                <div *ngIf="isLoggedIn()">
                    <Label [text]="'app.newHorse' | translate" class="sideLabel" (tap)="addHorse()"></Label>
                    <Label [text]="'app.newRider' | translate" class="sideLabel" (tap)="addRider()"></Label>
                    <Label [text]="'app.newClub' | translate" class="sideLabel" (tap)="addClub()"></Label>
                    <Label [text]="'app.newCompetition' | translate" class="sideLabel" (tap)=addCompetition()></Label>
                </div>
                <Label [text]="'app.riders' | translate" class="sideLabel" (tap)="riders()"></Label>
                <Label [text]="'app.horses' | translate" class="sideLabel" (tap)="horses()"></Label>
                <Label [text]="'app.clubs' | translate" class="sideLabel" (tap)="clubs()"></Label>
                <Label [text]="'app.about' | translate" class="sideLabel sideLightGrayLabel"></Label>
                <Label [text]="'app.language' | translate" class="sideLabel" (tap)="changeLanguage()"></Label>
                <Label [text]="'app.closeDrawer' | translate" padding="10" style="horizontal-align: center; color: blue;"
                    (tap)="onCloseDrawerTap()"></Label>
                <Label text=" " class="sideLabel"></Label>
                <Label [text]="'app.author' | translate" class="sideLabel sideBottomLabel"></Label>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <StackLayout tkMainContent>
        <page-router-outlet></page-router-outlet>
    </StackLayout>
</RadSideDrawer>
