<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<header style="margin-bottom:8px;">
  <ul>
    <li>
      <b (click)="returnHome()" class="logo">{{ 'app.title' | translate }}</b>
    </li>
    <li><b (click)="horses()">{{ 'app.horses' | translate }}</b></li>
    <li><b (click)="riders()">{{ 'app.riders' | translate }}</b></li>
    <li><b (click)="clubs()">{{ 'app.clubs' | translate }}</b></li>
    <li *ngIf="isLoggedIn()"><b (click)="addHorse()">{{ 'app.newHorse' | translate }}</b></li>
    <li *ngIf="isLoggedIn()"><b (click)="addRider()">{{ 'app.newRider' | translate }}</b></li>
    <li *ngIf="isLoggedIn()"><b (click)="addClub()">{{ 'app.newClub' | translate }}</b></li>
    <li *ngIf="isLoggedIn()"><b (click)="addCompetition()">{{ 'app.newCompetition' | translate }}</b></li>
    <li style="float:right; margin-top: 14px; margin-right: 10px;"> 
      <select #langSelect (change)="useLanguage(langSelect.value)">  
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>  
      </select>
    </li>
    <li style="float:right"><b (click)="about()">{{ 'app.about' | translate }}</b></li>
    <li *ngIf="isLoggedIn()" style="float:right"><b (click)="profile()">{{ 'app.profile' | translate }}</b></li>
    <li *ngIf="!isLoggedIn()" style="float:right"><b (click)="login()">{{ 'app.logIn' | translate }}</b></li>
  </ul>
  
  <!-- <mat-icon aria-hidden="false" style="margin-top: 30px;" (click)="returnHome()">home</mat-icon> 
        <mat-icon style="margin-top: 28px;">person</mat-icon> -->
</header>

<router-outlet></router-outlet>

<br/>
<br/>
<footer fxLayout="row">
    <p fxFlex style="margin-left:10px; font-weight: bold;">{{ 'app.author' | translate }}</p>
    <p fxFlex style="font-weight: bold;">{{ 'app.contact' | translate }}<a style="font-weight:normal;" href="mailto:p.juane@udc.es">p.juane@udc.es</a></p>
</footer>