<div fxLayout="column" style="margin-left: 30px; font-size: 18px; margin-top: 20px;">
    <div fxLayout="column">
        <p><strong>Name: </strong>{{ club?.name }}</p>
        <p><strong>Country: </strong>{{ club?.country }}</p>
        <p><strong>Location: </strong>{{ club?.location }}</p>
        <p><strong>Size: </strong>{{ club?.size }}</p>
    </div>
    <div fxLayout="row">
        <p style="font-weight: bold; margin-right: 7px;">Website:</p>
        <p class="url">{{ club?.website }}</p>
    </div>
</div> 