<div fxLayout="column">
    <div fxLayout="row">
    <h3 style="margin-right: 10px;"><strong>Name: </strong>{{ club.name }}</h3>
    </div>
   <div fxLayout="row">
        <p style="margin-right: 10px;"><strong>Country: </strong>{{ club.country }}</p>
        <p style="margin-right: 10px;"><strong>Location: </strong>{{ club.location }}</p>
        <p style="margin-right: 10px;"><strong>Size: </strong>{{ club.size }}</p>
        <p style="margin-right: 10px;"><strong>Website: </strong>{{ club.website }}</p>
    </div>
</div> 