<div fxLayout="column" style="margin-left: 30px; font-size: 18px; margin-top: 20px;">
    <div fxLayout="column">
        <p><strong>{{ 'club.name' | translate }}: </strong>{{ club?.name }}</p>
        <p><strong>{{ 'club.country' | translate }}: </strong>{{ club?.country }}</p>
        <p><strong>{{ 'club.location' | translate }}: </strong>{{ club?.location }}</p>
        <p><strong>{{ 'club.size' | translate }}: </strong>{{ club?.size }}</p>
    </div>
    <div fxLayout="row">
        <p style="font-weight: bold; margin-right: 7px;">{{ 'club.website' | translate }}:</p>
        <p class="url">{{ club?.website }}</p>
    </div>
</div> 