<div fxLayout="row" style="margin-left: 30px; font-size: 18px; margin-top: 20px;">
    <div fxLayout="column" style="margin-right: 100px;">
        <p><strong>Name: </strong>{{ rider?.name }}</p>
        <p><strong>License Number: </strong>{{ rider?.license }}</p>
        <p><strong>Country: </strong>{{ rider?.country }}</p>
        <p><strong>Age: </strong>{{ rider?.age }}</p>
        <p><strong>Gender: </strong>{{ rider?.gender }}</p>
    </div>
    <div fxLayout="column">
        <div class="container" *ngIf="downloadURL | async; let url">
            <img [src]="url" class="img-thumbnail" alt="Image from AngularFireStorage">
        </div>
    </div>
</div> 
