<StackLayout>
    <ActionBar title="Main Arena - Rider: {{ rider?.name }}"></ActionBar>
    <ScrollView height="500">
        <div *ngIf="rider">
            <StackLayout class="item item-header" class="p-15 m-10">
                <div *ngIf="downloadURL | async; let url">
                    <Image [src]="url"></Image>
                </div>
            <br/>
            <br/>
            <br/>
                <Label class="h3">
                    <FormattedString>
                        <Span [text]="'rider.name' | translate" fontAttributes="Bold"></Span>
                        <Span text=":   {{ rider?.name }}"></Span>
                    </FormattedString>
                </Label>
                <Label class="h3">
                    <FormattedString>
                        <Span [text]="'rider.country' | translate" fontAttributes="Bold"></Span>
                        <Span text=":   {{ rider?.country }}"></Span>
                    </FormattedString>
                </Label>
                <Label class="h3">
                    <FormattedString>
                        <Span [text]="'rider.license' | translate" fontAttributes="Bold"></Span>
                        <Span text=":   {{ rider?.license }}"></Span>
                    </FormattedString>
                </Label>
                <Label class="h3">
                    <FormattedString>
                        <Span [text]="'rider.age' | translate" fontAttributes="Bold"></Span>
                        <Span text=":   {{ rider?.age }}"></Span>
                    </FormattedString>
                </Label>
                <Label class="h3">
                    <FormattedString>
                        <Span [text]="'rider.gender' | translate" fontAttributes="Bold"></Span>
                        <Span text=":   {{ rider?.gender }}"></Span>
                    </FormattedString>
                </Label>
            </StackLayout>
        </div>
    </ScrollView>
</StackLayout>