<script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-analytics.js"></script>

<div class="create-page">
    <div class="page-content" style="margin-top: 20px;">

        <form class="create-form" [formGroup]="horseForm" novalidate (ngSubmit)="onSubmit(horseForm.value)">
        <div fxLayout="row">
            <div fxLayout="column" style="margin-right: 20px;">
            <div class="form-group">
            <mat-form-field class="input-style">
                <input matInput placeholder="{{ 'newHorse.name' | translate }}" class="form-control" formControlName="name">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.name">
                <mat-error *ngIf="horseForm.get('name').hasError(validation.type) && (horseForm.get('name').dirty || horseForm.get('name').touched)">{{validation.message}}</mat-error>
            </ng-container>
            </div>
        
            <div class="form-group">
            <mat-form-field class="input-style">
                <input matInput placeholder="{{ 'newHorse.license' | translate }}" class="form-control" formControlName="license">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.license">
                <mat-error *ngIf="horseForm.get('license').hasError(validation.type) && (horseForm.get('license').dirty || horseForm.get('license').touched)">{{validation.message}}</mat-error>
            </ng-container>
            </div>
        
            <div class="form-group">
            <mat-form-field class="input-style">
                <input matInput type="number" min="0" max="100" placeholder="{{ 'newHorse.age' | translate }}" class="form-control" formControlName="age">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.age">
                <mat-error *ngIf="horseForm.get('age').hasError(validation.type) && (horseForm.get('age').dirty || horseForm.get('age').touched)">{{validation.message}}</mat-error>
            </ng-container>
            </div>

            <div class="form-group">
                <mat-form-field class="input-style">
                <input matInput placeholder="{{ 'newHorse.colour' | translate }}" class="form-control" formControlName="colour">
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages.colour">
                <mat-error *ngIf="horseForm.get('colour').hasError(validation.type) && (horseForm.get('colour').dirty || horseForm.get('colour').touched)">{{validation.message}}</mat-error>
                </ng-container>
            </div>
        </div>
        <div fxLayout="column">
            <div class="form-group">
                <mat-form-field class="input-style">
                <input matInput placeholder="{{ 'newHorse.breed' | translate }}" class="form-control" formControlName="breed">
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages.colour">
                <mat-error *ngIf="horseForm.get('breed').hasError(validation.type) && (horseForm.get('breed').dirty || horseForm.get('breed').touched)">{{validation.message}}</mat-error>
                </ng-container>
            </div>

                <div class="form-group">
                    <mat-form-field class="input-style">
                    <input matInput placeholder="{{ 'newHorse.gender' | translate }}" class="form-control" formControlName="gender">
                    </mat-form-field>
                    <ng-container *ngFor="let validation of validation_messages.gender">
                    <mat-error *ngIf="horseForm.get('gender').hasError(validation.type) && (horseForm.get('gender').dirty || horseForm.get('gender').touched)">{{validation.message}}</mat-error>
                    </ng-container>
                </div>

                <div class="form-group">
                    <label class="form-control">{{ 'newHorse.picture' | translate }}</label>
                    <br/>
                    <br/>
                    <input type="file" formControlName="picture" (change)="change($event)" accept=".png,.jpg">             
                </div>
                <br/>
               
            <div class="row submit-button-container">
                <div class="col-md-4">
                    <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!horseForm.valid">
                        {{ 'newHorse.submit' | translate }}</button>
                </div>
            </div>
        </div>
        </div>
        </form>
    </div>
</div>