<script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-analytics.js"></script>

<div class="create-page">
    <div class="page-content">
      <div class="row">  
        <form class="create-form" [formGroup]="clubForm" novalidate (ngSubmit)="onSubmit(clubForm.value)">

            <div class="form-group">
            <mat-form-field class="input-style">
                <input matInput placeholder="{{ 'newClub.name' | translate }}" class="form-control" formControlName="name">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.name">
                <mat-error *ngIf="clubForm.get('name').hasError(validation.type) && (clubForm.get('name').dirty || clubForm.get('name').touched)">{{validation.message}}</mat-error>
            </ng-container>
            </div>
        
            <div class="form-group">
            <mat-form-field class="input-style">
                <input matInput placeholder="{{ 'newClub.country' | translate }}" class="form-control" formControlName="country">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.country">
                <mat-error *ngIf="clubForm.get('country').hasError(validation.type) && (clubForm.get('country').dirty || clubForm.get('country').touched)">{{validation.message}}</mat-error>
            </ng-container>
            </div>
        
            <div class="form-group">
            <mat-form-field class="input-style">
                <input matInput placeholder="{{ 'newClub.location' | translate }}" class="form-control" formControlName="location">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.location">
                <mat-error *ngIf="clubForm.get('location').hasError(validation.type) && (clubForm.get('location').dirty || clubForm.get('location').touched)">{{validation.message}}</mat-error>
            </ng-container>
            </div>

            <div class="form-group">
                <mat-form-field class="input-style">
                <input matInput placeholder="{{ 'newClub.website' | translate }}" class="form-control" formControlName="website">
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages.website">
                <mat-error *ngIf="clubForm.get('website').hasError(validation.type) && (clubForm.get('website').dirty || clubForm.get('website').touched)">{{validation.message}}</mat-error>
                </ng-container>
            </div>

            <div class="form-group">
                    <mat-form-field class="input-style">
                    <input matInput placeholder="{{ 'newClub.size' | translate }}" class="form-control" formControlName="size">
                    </mat-form-field>
                    <ng-container *ngFor="let validation of validation_messages.size">
                    <mat-error *ngIf="clubForm.get('size').hasError(validation.type) && (clubForm.get('size').dirty || clubForm.get('size').touched)">{{validation.message}}</mat-error>
                    </ng-container>
                </div>
        
            <div class="row submit-button-container">
            <div class="col-md-4">
                <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!clubForm.valid">
                    {{ 'newClub.submit' | translate }}</button>
            </div>
            </div>
        
        </form>
    </div>
    </div>
</div>