<div *ngIf="competitions">
    <ListView [items]="competitions" class="list-group" height="800">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <GridLayout columns="*, *, *, *" (tap)="onItemSelected(item)" row="0">        
                <Label [text]='item?.name' class="list-group-item" col="0"></Label>
                <Label [text]="item?.country" col="1" class="list-group-item"></Label>
                <Label [text]="item?.category" col="2" class="list-group-item"></Label>
                <div *ngIf="isLoggedIn()">
                    <Button text="X" (tap)="deleteMobile(index, item)" class="list-group-item delete" col="3"
                        style="background-color: white;"></Button>
                </div>
            </GridLayout>
        </ng-template>
    </ListView>
</div>