<div class="mat-elevation-z8">

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'club.filter' | translate }}">
    </mat-form-field>
          
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'club.name' | translate }}</th>
        <td mat-cell *matCellDef="let club">{{ club.name }}</td>
      </ng-container>
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'club.country' | translate }}</th>
        <td mat-cell *matCellDef="let club">{{ club.country }}</td>
      </ng-container>
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'club.location' | translate }}</th>
        <td mat-cell *matCellDef="let club">{{ club.location }}</td>
      </ng-container>
      <ng-container matColumnDef="website">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'club.website' | translate }}</th>
        <td mat-cell *matCellDef="let club">{{ club.website }}</td>
      </ng-container>
      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'club.size' | translate }}</th>
        <td mat-cell *matCellDef="let club">{{ club.size }}</td>
      </ng-container>    
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>{{ 'club.action' | translate }}</th>
        <td mat-cell *matCellDef="let club; let i = index;">
          <button mat-raised-button color="accent" (click)="delete(i, club)" *ngIf="isLoggedIn()">
            {{ 'club.delete' | translate }}</button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onItemSelected(row)"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>