<div style="margin: 130px; background-color: lightgray;">
    <div style="margin: 30px;">
        <br/>
        <p>Final Thesis Project for the  Master's Degree in Computer Engineering (2019/20).</p>
        <p>Developed by Patricia Juane Borreguero (Software Engineer).</p>
        <p>The purpose of this project was to develop a multiplatform application to store the results of horse riding competitions.</p>
        <p>I hope you enjoy it as much as I did working on it!</p>
        <br/>
    </div>
</div>