<div fxLayout="column">
    <div fxLayout="column" style="margin-left:10px;">
        <div fxLayout="row" style="margin-bottom: -20px;">
            <p style="font-weight: bold; font-size: 20px;">
                <strong>{{ 'competition.competition' | translate }}: </strong>{{ competition?.name }}</p>
        </div>
        <div fxLayout="row" style="margin-bottom: -20px;">
            <p style="margin-right: 4px;">{{ competition?.location }}</p>
            <p style="margin-right: 30px;">({{ competition?.country }})</p>
            <p  style="margin-right: 4px;">{{ competition?.category }},</p>
            <p style="margin-right: 650px;">{{ competition?.type }}</p>
            <button (click)="addTrophy()" *ngIf="isLoggedIn()" mat-raised-button style="margin-bottom: 10px; margin-top:10px;">
                {{ 'competition.addTrophy' | translate }}</button>
        </div>
        <div fxLayout="row">
            <p style="margin-right: 4px;">{{ competition?.initDate.toDate() | date: shortDate }} -</p>
            <p style="margin-right: 30px;">{{ competition?.endDate.toDate() | date: shortDate }}</p>
            <p class="url">{{ competition?.website }}</p>                
        </div>
    </div> 
 
    <div class="mat-elevation-z8">
            <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'competition.filter' | translate }}">
            </mat-form-field>

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'competition.name' | translate }}</th>
            <td mat-cell *matCellDef="let trophy">{{ trophy.name }}</td>
        </ng-container>
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'competition.category' | translate }}</th>
            <td mat-cell *matCellDef="let trophy">{{ trophy?.category }}</td>
        </ng-container>
        <ng-container matColumnDef="arena">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'competition.arena' | translate }}</th>
            <td mat-cell *matCellDef="let trophy">{{ trophy?.arena }}</td>
        </ng-container>
        <ng-container matColumnDef="initDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'competition.initDate' | translate }}</th>
            <td mat-cell *matCellDef="let trophy">{{ trophy?.initDate.toDate() | date: longDate  }}</td>
        </ng-container>
        <ng-container matColumnDef="hour">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'competition.hour' | translate }}</th>
            <td mat-cell *matCellDef="let trophy">{{ trophy?.hour }}</td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>{{ 'competition.action' | translate }}</th>
            <td mat-cell *matCellDef="let trophy; let i = index;">
              <button mat-raised-button color="accent" (click)="delete(i, trophy)" *ngIf="isLoggedIn()">
                {{ 'competition.delete' | translate }}</button>
            </td>
          </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onItemSelected(row)"></tr>
        </table>
        
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

</div>